h1 {
  color: #27aedb;
  text-align: center;
}

button {
  color: #27aedb;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.menu-items {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.item {
  width: 600px;
  height: 200px;
  overflow: hidden;
  display: flex;
  gap: 20px;
}

.item-desc {
  display: flex;
  flex-direction: column;
}

.item-header {
  display: flex;
}
